<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<meta charset="utf-8">
	<title>给ul添加点击事件</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script type="text/javascript" src="scripts/vendor/angular.js"></script>
	<script type="text/javascript" src="scripts/click_ul.js"></script>
	<style type="text/css">
	li{
		border:1px solid #ccc;
		margin:10px;
	}
	.active{
		background-color: yellow;
	}
	</style>
</head>
<body>
	<div class="container" ng-controller="clickCtrl">
		<!-- <ul class="list-unstyled">
			<li ng-class="{1: 'active'}[vm.tab]" ng-click="vm.tab=1">001</li>
			<li ng-class="{2: 'active'}[vm.tab]" ng-click="vm.tab=2">002</li>
			<li ng-class="{3: 'active'}[vm.tab]" ng-click="vm.tab=3">003</li>
			<li ng-class="{4: 'active'}[vm.tab]" ng-click="vm.tab=4">004</li>
			<li ng-class="{5: 'active'}[vm.tab]" ng-click="vm.tab=5">005</li>
			<li ng-class="{6: 'active'}[vm.tab]" ng-click="vm.tab=6">006</li>
		</ul>	 -->	
		<ul class="list-unstyled">
			<li ng-repeat="item in vm.items" ng-click="vm.tab=$index+1" ng-class="{active: vm.tab==$index+1}">{{item}}</li>
		</ul>
	</div>		
</body>
</html>