<div class="container_footer">
    <div class="footer_content">
        <div class="footer_col">
            <div class="footer_title">关于</div>
            <div class="footer_item">关于美壶</div>
            <div class="footer_item">联系美壶</div>
        </div>
        <div class="footer_col">
            <div class="footer_title">紫砂</div>
            <div class="footer_item">原创作品</div>
            <div class="footer_item">仿古作品</div>
            <div class="footer_item">最新美壶</div>
            <div class="footer_item">紫砂光影</div>
            <div class="footer_item">美壶印象</div>
        </div>
        <div class="footer_col">
            <div class="footer_title">知识</div>
            <div class="footer_item">紫砂资料</div>
            <div class="footer_item">泥料专题</div>
            <div class="footer_item">壶型专题</div>
            <div class="footer_item">紫砂壶视频</div>
            <div class="footer_item">紫砂新闻</div>
        </div>
        <div class="footer_col">
            <div class="footer_title">支付</div>
            <div class="footer_item">支付方式</div>
            <div class="footer_item">30天包退换</div>
        </div>
        <div class="footer_col">
            <div class="footer_title">商城</div>
            <div class="footer_item">美壶官网商城</div>
            <div class="footer_item">美壶淘宝店铺</div>
            <div class="footer_item">美壶京东店铺</div>
        </div>
        <div class="footer_col">
            <div class="footer_title">友情</div>
            <div class="footer_item">邮票行情</div>
            <div class="footer_item">二手网</div>
            <div class="footer_item">生日礼物网</div>
            <div class="footer_item">钻戒</div>            
        </div>
    </div>
</div>
