<div class="page_container">
    <div class="container_header" ng-controller="loginCtrl"> 
	    <div class="header_bar">
	        <span class="logo" ui-sref="index"></span>
	        <span class="logo_font">壶悦网，中华文化传承</span>
	    </div>
	</div>
    <div class="page_container_body">
    	<div class="page_login">
   	 	    <div class="frame">
   	 	
   	 	<!-- 布局重新改 -->
			    <div class="components_login" >
			        <div class="login_head">用户登录</div>
			        <div class="form">
			            <form name="login">
			                <div class="input">
			                    <span class="label">用户名</span>
			                    <input class="ap_n" type="text" ng-model="username" maxlength="15" name="username">
			                </div>
			                <div class="input">
			                    <span class="label">密&#x3000;码</span>
			                    <input class="ap_n" type="password" ng-model="password" maxlength="15" name="password">
			                </div>
			                <div class="input code">
			                    <span class="label">验证码</span>
			                    <input class="ap_n" type="text" name="code" maxlength="15" ng-model="vcode">
			                </div>
			                <div class="code_img" ng-click="getCode()">
			                    <img ng-src="{{code.src}}">
			                </div>
			                <div class="regist">
			                    <a ui-sref="container.regist">注册</a>|<a ui-sref="container.alter">忘记密码</a>
			                </div>
			                <button class="btn" ng-click="doLogin()">登录</button>
			            </form>
			        </div>
			    </div>	
		<!-- 需要改 -->


   	 	    </div>
		</div>
    </div>
     
</div>
